# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [118]:
# !pip install selenium

In [119]:
# webdriver
# firefox -> geckrodriver
# chrome -> chromedriver

# Passo a passo
# Passo 1: Abrir o navegador
from selenium import webdriver
navegador = webdriver.Chrome() # -> abre o navegador
navegador.get(r'https://www.google.com/') # -> entra em uma página da web

In [120]:
# Passo 2: Importar a base de dados
import pandas as pd

base = pd.read_excel('commodities (1).xlsx')
display(base)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [121]:
# import unicodedata
# produto = unicodedata.normalize('NFKD', produto).encode('ascii', 'ignore')

for linha in base.index:
    produto = base.loc[linha, 'Produto']
    print(produto)
    produto = produto.replace('ó', 'o').replace('ã', 'a').replace('ç', 'c').replace('ú', 'u').replace('é', 'e').replace('á', 'a')
    
    link = f'https://www.melhorcambio.com/{produto}-hoje'
    print(link)
    navegador.get(link)
    

    preco = navegador.find_element(r'xpath', r'//*[@id="comercial"]').get_attribute('value')    # -> encontra um elemento(serve para qualquer site)
    # Alterando o preço para formato americano                       # .clik() -> clicar                                                
    preco = preco.replace('.', '').replace(',', '.')                 # .send_keys('texto') -> escrever
                                                                     # .send_keys('texto') -> escrever
    print(preco)                                                     # .get_attribute('atributo') -> pegar um valor
    base.loc[linha, 'Preço Atual'] = float(preco)                           
                                                                     
    
display(base)
# Passo 3: Para cada produto da base de dados
# Passo 4: Pesquisar o preço do produto
# Passo 5: Atualizar o preço na base de dados
# Passo 6: Decidir quais produtos comprar

Milho
https://www.melhorcambio.com/Milho-hoje
0.00
Soja
https://www.melhorcambio.com/Soja-hoje
0.00
Boi
https://www.melhorcambio.com/Boi-hoje
0.00
Petróleo
https://www.melhorcambio.com/Petroleo-hoje
391.47
Algodão
https://www.melhorcambio.com/Algodao-hoje
0.00
Açúcar
https://www.melhorcambio.com/Acucar-hoje
0.00
Café
https://www.melhorcambio.com/Cafe-hoje
0.00
Ouro
https://www.melhorcambio.com/Ouro-hoje
324.38
Trigo
https://www.melhorcambio.com/Trigo-hoje
0.00
Tilápia
https://www.melhorcambio.com/Tilapia-hoje
0.00

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32         0.00      NaN
1      Soja       163.59         0.00      NaN
2       Boi       282.20         0.00      NaN
3  Petróleo       424.37       391.47      NaN
4   Algodão       497.76         0.00      NaN
5    Açúcar       136.23         0.00      NaN
6      Café      1092.87         0.00      NaN
7      Ouro       321.77       324.38      NaN
8     Trigo      1549.11         0.00      NaN
9   Tilápia         9.05         0.00      NaN

In [122]:
# preencher a coluna de comprar
base['Comprar'] = base['Preço Atual'] < base['Preço Ideal']

display(base)



# OUTRO JEITO
# for linha in base.index:
#     atual = base.loc[linha, 'Preço Atual'].replace('.', '').replace(',', '.')
#     ideal = base.loc[linha, 'Preço Ideal']
#     if float(atual) <= float(ideal): 
#         base.loc[linha, 'Comprar'] = 'True'                                          ---->   SEM EDITAR O PREÇO LÁ EM CIMA
#     else:
#         base.loc[linha, 'Comprar'] = 'False'
#  display(base)
    

    
# exportar a base para o excel
base.to_excel('commodities_atualizado.xlsx', index=False)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32         0.00     True
1      Soja       163.59         0.00     True
2       Boi       282.20         0.00     True
3  Petróleo       424.37       391.47     True
4   Algodão       497.76         0.00     True
5    Açúcar       136.23         0.00     True
6      Café      1092.87         0.00     True
7      Ouro       321.77       324.38    False
8     Trigo      1549.11         0.00     True
9   Tilápia         9.05         0.00     True

In [123]:
navegador.quit()